@charset "UTF-8"

/*em HTML é id    = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb#d6fde9;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgb(25, 93, 20);
}

h1#principal {
    text-align: center;
    background-color: rgb(45, 175, 69);
    color: white;
}

h2 {
    color: rgb(72, 210, 45);
}

.basico {
    color: rgb(72, 210, 45);
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}